/* list. css */

#item_box{
            width: 100%;
            height: auto;
            margin-top: 50px;
}

#item_listwrap{
            width: 1200px;
            height: auto;
            margin: 0 auto;
}

#search_box{
            width: 1200px;
            height: 50px;
            display: flex;
}

#search{
            width: 600px;
            height: 30px;
}

#search_bt{
            width: 90px;
            height: 36px;
}

#sort_box p{
            text-align: center;
            width: 100px;
            height: 40px;
            margin: 0;
}

#item_list_box{
            width: 120px;
            height: auto;
            margin-top: 50px;
}

.item_kind a{
            display: :inline-block;
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align:20px;
            margin-right:20px;
            text-decoration:none;
            color:black
}

.item_kind a: hover{
            color: blue;
}

.item_wrap{
            display: flex;
            width: 1200px;
            height: 500px;
            margin_botton: 20px;
}