/* aquarium.css */
body, div, ul{
    padding: 0;
    margin: 0;
}
.contanier{
    width: 100%;
    height: 100%;
}
/* 헤더 메뉴바 */


#header_wrap{
    width: 100%;
    height: 40px;
    background-color: blue;
}
#global_wrap{
    width: 100%;
    margin: 0;
    height: 40px;
}
#util{
    float: right;
    width: 500px;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 0 10px 0;
}
#util li{ /*맨 위 헤더 가운데 정렬 및 로고와 버튼들 추가*/
    float: left;
    padding: 0 11px;
    color: white;
    font-size: 12px;
    border-left: 1px solid skyblue;
}


/* 로고 메뉴 */

#logo_menu_wrap{
    width: 100%;
    height: 80px;
    background-color: blueviolet;
}
#logo_menu{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    display: flex;
}
#logo{
    width: 300px;
    height: 60px;
    font-size:19px;
    color: white;
    font-weight: 800;
    padding-top: 25px;
}
#gnb{width: 900px;
}
#gnb_menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
    font-size: 16px;
    font-weight: 800;
    width: 800px;
    height: 80px;
}
#gnb_menu li{
    float: left;
    height: 80px;
    line-height: 80px;
    width: 140px;
    text-align: center;
}
#gnb_menu li ul{
    padding: 0;
    margin: 0;
    width: 0;
    position: relative;
    opacity: 0;
    list-style: none;
}
#gnb_menu li ul li{
    position:absolute;
    width: 0;
    height: 0;
    line-height: 0;
    top: -10px;
}
#gnb_menu li:hover ul{
    position: relative;
    opacity: 1;
    /* background-color: brown; */
    width: 140px;
    top:10px;
    z-index: 100;
}
#gnb_menu li:hover ul li{
    position: relative;
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: blueviolet;
}
#main_img{
    position: relative;
}
.main_image{
    position: absolute;
    width: 100%;
}
#main_inner{
    position: absolute;
    background-color: pink;
    margin-left: 200px;
    margin-top: 150px;
    width: 750px;
    height: 500px;
}
.seahorse{
    position: relative;
    top: 100px;
    margin-left: 1270px;
    filter: drop-shadow(30px 30px 1px rgb(15, 35, 100));
}
#wave{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    /* top:200px; */
}
#cover_1{ /*윗 부분 투명화!! + 바닷속이미지 그림 그려서 합성하기*/
    position: relative;
    width: auto;
    height: 1200px;
    top: 200px;
    bottom: 1500px;
    background-color: skyblue;
    margin: auto;
    border-radius: 300px 300px 0 0;
}
#wave_1{
    position: relative;
    bottom: 50px;
}
.inner_wrap_1{
    position: absolute;
    width: 1200px;
    height: 500px;
    background-color: aqua;
    top: 450px;
    left: 350px;
    margin: 0 auto;
}
/* 슬라이더================== */
.slider{
    width: 1200px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}
.slider input[type=radio]{
    display: none;
}
ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;    
}
ul.imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */
    padding: 0;
    margin: 0;
}
.bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(5):checked~.bullets>label:nth-child(5){
    background-color: #fff;
}
/* 불릿 만들기 끝 */


/* 이미지 넘어가기 시작!======================== */
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    bottom: -160px;
    left: 0;
    transition: 0.5s;
    z-index:1;
    
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    bottom: -180px;
    left: 0;
    transition: 0.5s;
    z-index:1;
    
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index:1;
}
.slider input[type=radio]:nth-child(5):checked~ul.imgs>li:nth-child(5){
    bottom: -210px;
    left: 0;
    transition: 0.5s;
    z-index:1;
}
/* 슬라이더 ================================== */
#footer{
    position: relative;
    padding: 1px;
    background-color: rgb(26, 31, 36);
}
#footer_texts_area{
    width: 70%;
    margin: 100px auto 70px;
    padding: 0;
    word-spacing : 5px;
    color:gray;
}
#f_1{
    line-height: 160%;
    font-size: 12px;
    font-weight: 300;
}
#f_2{
    line-height: 300%;
    font-size: 15px;
}
#f_3{
    line-height: 140%;
    font-size: 16px;
}